### Calculating Errors

In [1]:
# here use the dataset to draw conclusion about Hypothesis test
# 1. By default, we set null hypothesis to be true

In [2]:
import numpy as np
import pandas as pd

In [3]:
jud_data = pd.read_csv('judicial_dataset_predictions.csv')
par_data = pd.read_csv('parachute_dataset.csv')

In [4]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [5]:
par_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

In [32]:
par_data['actual'].value_counts()

opens    5781
fails      48
Name: actual, dtype: int64

### Error

In [7]:
print('The accuracy of the dataset: ', sum(jud_data.actual == jud_data.predicted) / jud_data.shape[0])

The accuracy of the dataset:  0.9578470410545105

#### Type I error

In [9]:
jud_data[(jud_data.predicted == 'guilty') & (jud_data.actual == 'innocent')].shape[0]/ jud_data.shape[0]

0.001510366607167376

#### Type II error

In [10]:
jud_data[(jud_data.predicted == 'innocent') & (jud_data.actual == 'guilty')].shape[0]/ jud_data.shape[0]

0.04064259233832212

In [12]:
sum(jud_data.actual=='innocent')/jud_data.shape[0]

0.45159961554304545

In [14]:
sum(jud_data.actual=='innocent')/jud_data.shape[0]

0.45159961554304545

### Error

In [15]:
print('The accuracy of the dataset: ', sum(par_data.actual == par_data.predicted) / par_data.shape[0])

The accuracy of the dataset:  0.9600274489620861

### Type I error

In [27]:
print('Type I error:', par_data[(par_data.predicted == 'opens') & (par_data.actual == 'fails')].shape[0] / par_data.shape[0])

Type I error: 0.00017155601303825698

In [34]:
print('Type II error:', par_data[(par_data.predicted == 'fails') & (par_data.actual == 'opens')].shape[0] / par_data.shape[0])

Type II error: 0.03980099502487562

In [35]:
par_data[par_data.actual == 'opens'].shape[0] / par_data.shape[0]

0.9917653113741637

In [36]:
par_data[par_data.actual == 'opens'].shape[0]

5781

In [40]:
par_data.query("actual == 'fails' and predicted == 'opens'")

      parachute_id actual predicted
2943          7438  fails     opens

In [43]:
par_data.query("actual == 'fails' and predicted == 'opens'").count()

      parachute_id actual predicted
2943          7438  fails     opens